{% extends "stockapp/index.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<h2 class="mt-3">Reset Password</h2>
<form action="" method="post">
    {% csrf_token %}
    <div class="my-3">
        <label for="id_email" class="form-label">{{ form.email.label }}</label>
        <input type="email" class="form-control mx-auto" name="email" autofocus autocapitalize="none"
            autocomplete="email" maxlength="254" required id="id_email" style="max-width: 300px;">
        <div class="form-text">{{ form.email.help_text }}</div>
        {% if form.email.errors %}
        <div class="form-text text-danger">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    <input type="submit" class="btn btn-primary mb-3" value="Reset Password">
</form>
{% endblock %}
