{% extends "stockapp/index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Details - {{ profile.companyName }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/detail.css' %}">
{% endblock %}

{% block js %}
<!-- Safely output the history data as JSON so it can be processed by JS -->
{{ history|json_script:"history-data" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'stockapp/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-info-container mt-3">
    <div class="left-container">
        <div class="company-container">
            <img class="logo" src="{{ profile.image }}" alt="{{ profile.companyName }} logo">
            <h1 class="symbol">{{ profile.symbol }}</h1>
            <h2 class="company-name">{{ profile.companyName }}</h2>
            <div class="price-container">
                <h3 class="current-price me-3">${{ profile.price|money }}</h3>
                <h4 class="change">{{ profile.changes }}</h4>
            </div>
        </div>
        <div class="short-container">
            <div class="short-chart-container">
                <canvas id="short-chart" role="img" aria-label="Short-Term Stock Price Graph"></canvas>
            </div>
            <div class="short-stats-container">
                <!-- Show a popover that's accessible on both desktop and mobile devices -->
                <a href="javascript:" id="short-predict" class="help fs-5" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="Short-Term Prediction"></a>
                <p class="short-mean"></p>
                <p class="short-var"></p>
                <p class="short-std"></p>
                <p class="short-err"></p>
                <p class="short-min"></p>
                <p class="short-max"></p>
                <p class="short-iqr"></p>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="logistics-container">
            <ul class="list-group">
                <!-- Show helpful hints about each word -->
                <li class="list-group-item">
                    <a href="javascript:" class="beta help fw-bold" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" title="{{ terms.beta.word }}" data-bs-content="{{ terms.beta.definition }}">Beta: </a>
                    {{ profile.beta }}
                </li>
                <li class="list-group-item">
                    <a href="javascript:" class="volume help fw-bold" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" title="{{ terms.volume.word }}" data-bs-content="{{ terms.volume.definition }}">Average Volume: </a>
                    {{ profile.volAvg|commas }}
                </li>
                <li class="list-group-item">
                    <a href="javascript:" class="market-cap help fw-bold" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" title="{{ terms.marketCap.word }}" data-bs-content="{{ terms.marketCap.definition }}">Market Cap: </a>
                    {{ profile.mktCap|commas }}
                </li>
                <li class="list-group-item">
                    <a href="javascript:" class="dividend-yield help fw-bold" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" title="{{ terms.dividendYield.word }}" data-bs-content="{{ terms.dividendYield.definition }}">Last Dividend Yield: </a>
                    {{ profile.lastDiv }}%
                </li>
                <li class="list-group-item">
                    <strong>Range: </strong>
                    {{ profile.range }}
                </li>
                <li class="list-group-item">
                    <a href="javascript:" class="exchange help fw-bold" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="left" title="{{ terms.marketExchange.word }}" data-bs-content="{{ terms.marketExchange.definition }}">Exchange: </a>
                    {{ profile.exchangeShortName }}
                </li>
                <li class="list-group-item">
                    <strong>Industry: </strong>
                    {{ profile.industry }}
                </li>
                <li class="list-group-item">
                    <strong>Sector: </strong>
                    {{ profile.sector }}
                </li>
                <li class="list-group-item">
                    <strong>URL: </strong>
                    <a href="{{ profile.website }}" target="_blank" rel="noopener noreferrer">{{ profile.website }}</a>
                </li>
            </ul>
        </div>
        <div class="long-container">
            <div class="long-chart-container">
                <canvas id="long-chart" role="img" aria-label="Long-Term Stock Price Graph"></canvas>
            </div>
            <div class="long-stats-container">
                <a href="javascript:" id="long-predict" class="help fs-5" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="Long-Term Prediction"></a>
                <p class="long-mean"></p>
                <p class="long-var"></p>
                <p class="long-std"></p>
                <p class="long-err"></p>
                <p class="long-min"></p>
                <p class="long-max"></p>
                <p class="long-iqr"></p>
            </div>
        </div>
    </div>
</div>
<!-- Alert the user on whether they should trade stocks -->
<div class="invest-alert alert alert-dismissible fade show mx-3" role="alert">
    <p class="invest-info">
        Now that you have looked at the details, you as the
        <a href="javascript:" class="trader help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="{{ terms.trader.word }}" data-bs-content="{{ terms.trader.definition }}"> trader </a>
        can trade stocks through a
        <a href="javascript:" class="broker help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="{{ terms.broker.word }}" data-bs-content="{{ terms.broker.definition }}"> broker</a>
        . To simplify things, this website is the broker and the exchange occurs immediately (making this a
        <a href="javascript:" class="market-order help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="{{ terms.marketOrder.word }}" data-bs-content="{{ terms.marketOrder.definition }}"> market order</a>
        ).
    </p>
    <!-- The text in [] are placeholders and will be replaced in JS -->
    <p class="invest-advice">
        Based on the
        <a href="javascript:" class="volatility help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="{{ terms.volatility.word }}" data-bs-content="{{ terms.volatility.definition }}"> volatility </a>
        of the stocks, investing would be a [level]
        <a href="javascript:" class="risk help" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top" title="{{ terms.risk.word }}" data-bs-content="{{ terms.risk.definition }}"> risk</a>
        . [advice]
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% csrf_token %}
<!-- Form to buy or sell stocks -->
<form class="stock-form row row-cols-lg-auto g-3">
    <div class="form-transaction col-12">
        <label class="visually-hidden" for="select-transaction">Transaction</label>
        <select class="form-select" id="select-transaction" required>
            <option value="buy" selected>Buy</option>
            <option value="sell">Sell</option>
        </select>
    </div>
    <div class="form-shares col-12">
        <label class="visually-hidden" for="input-shares">Shares</label>
        <input type="number" class="form-control" id="input-shares" min="1" step="1" placeholder="Shares" required>
    </div>
    <div class="form-submit col-12">
        <button type="submit" class="btn btn-primary">Complete Transaction</button>
    </div>
    <div class="balance-result col-12">
        New Balance: ${{ balance|money }}
    </div>
    <div class="balance-diff col-12 text-danger">
        -$0
    </div>
</form>
<!-- Toast message after clicking the portfolio button -->
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
    <div id="liveToast" class="toast fade" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="d-flex">
            <div class="toast-body">
                Stock successfully added to portfolio.
            </div>
            <button type="button" class="toast-close btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" tabindex="-1"></button>
        </div>
    </div>
</div>
<hr>
<!-- Don't escape the content -->
<p class="description mx-3"><strong>About:</strong> {{ profile.description|safe }}</p>
{% endblock %}
