{% extends "stockapp/index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Details - {{ profile.companyName }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/detail.css' %}">
{% endblock %}

{% block js %}
<!-- Safely output the history data as JSON so it can be processed by JS -->
{{ history|json_script:"history-data" }}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="{% static 'stockapp/js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main-info-container mt-3">
    <div class="left-container">
        <div class="company-container">
            <img class="logo" src="{{ profile.image }}" alt="{{ profile.companyName }} logo">
            <h1 class="symbol">{{ profile.symbol }}</h1>
            <h2 class="company-name">{{ profile.companyName }}</h2>
            <div class="price-container">
                <h3 class="current-price me-3">${{ profile.price|money }}</h3>
                <h4 class="change">{{ profile.changes }}</h4>
            </div>
        </div>
        <div class="short-container">
            <div class="short-chart-container">
                <canvas id="short-chart" role="img" aria-label="Short-Term Stock Price Graph"></canvas>
            </div>
            <div class="short-stats-container">
                <!-- Show a tooltip that's accessible on both desktop and mobile devices -->
                <a href="#short-predict" id="short-predict" class="fs-5" data-bs-toggle="tooltip"></a>
                <p class="short-mean"></p>
                <p class="short-var"></p>
                <p class="short-std"></p>
                <p class="short-err"></p>
                <p class="short-min"></p>
                <p class="short-max"></p>
                <p class="short-iqr"></p>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="logistics-container">
            <ul class="list-group">
                <li class="list-group-item"><strong>Beta:</strong> {{ profile.beta }}</li>
                <li class="list-group-item"><strong>Average Volume:</strong> {{ profile.volAvg|commas }}</li>
                <li class="list-group-item"><strong>Market Cap:</strong> {{ profile.mktCap|commas }}</li>
                <li class="list-group-item"><strong>Last Dividend Yield:</strong> {{ profile.lastDiv }}%</li>
                <li class="list-group-item"><strong>Range:</strong> {{ profile.range }}</li>
                <li class="list-group-item"><strong>Exchange:</strong> {{ profile.exchangeShortName }}</li>
                <li class="list-group-item"><strong>Industry:</strong> {{ profile.industry }}</li>
                <li class="list-group-item"><strong>Sector:</strong> {{ profile.sector }}</li>
                <li class="list-group-item"><strong>URL:</strong> <a href="{{ profile.website }}" target="_blank" rel="noopener noreferrer">{{ profile.website }}</a></li>
            </ul>
        </div>
        <div class="long-container">
            <div class="long-chart-container">
                <canvas id="long-chart" role="img" aria-label="Long-Term Stock Price Graph"></canvas>
            </div>
            <div class="long-stats-container">
                <a href="#long-predict" id="long-predict" class="fs-5" data-bs-toggle="tooltip"></a>
                <p class="long-mean"></p>
                <p class="long-var"></p>
                <p class="long-std"></p>
                <p class="long-err"></p>
                <p class="long-min"></p>
                <p class="long-max"></p>
                <p class="long-iqr"></p>
            </div>
        </div>
    </div>
</div>
{% csrf_token %}
<!-- Form to buy or sell stocks -->
<form class="stock-form row row-cols-lg-auto g-3">
    <div class="form-transaction col-12">
        <label class="visually-hidden" for="select-transaction">Transaction</label>
        <select class="form-select" id="select-transaction" required>
            <option value="buy" selected>Buy</option>
            <option value="sell">Sell</option>
        </select>
    </div>
    <div class="form-shares col-12">
        <label class="visually-hidden" for="input-shares">Shares</label>
        <input type="number" class="form-control" id="input-shares" min="1" step="1" placeholder="Shares" required>
    </div>
    <div class="form-submit col-12">
        <button type="submit" class="btn btn-primary">Complete Transaction</button>
    </div>
    <div class="balance-result col-12">
        New Balance: ${{ balance|money }}
    </div>
    <div class="balance-diff col-12 text-danger">
        -$0
    </div>
</form>
<!-- Toast message after clicking the portfolio button -->
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
    <div id="liveToast" class="toast fade" data-bs-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" aria-hidden="true">
        <div class="d-flex">
            <div class="toast-body">
                Stock successfully added to portfolio.
            </div>
            <button type="button" class="toast-close btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" tabindex="-1"></button>
        </div>
    </div>
</div>
<hr>
<p class="description mx-3"><strong>About:</strong> {{ profile.description }}</p>
{% endblock %}
