{% extends "stockapp/index.html" %}
{% load static %}

{% block title %}Flashcards{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/flashcards.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'stockapp/js/flashcards.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="description text-center">Click on a card to learn each term.</h1>
{% for card in cards.all %}
<div class="flashcard card shadow bg-light" tabindex="0" aria-label="{{ card.word }}">
    <div class="card-body">
        <h2 class="word card-title fs-4">{{ card.word }}</h2>
        <p class="definition card-text fade-out hidden" hidden>{{ card.definition }}</p>
    </div>
</div>
{% endfor %}
{% endblock %}
