<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>How to Stocks</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'stockapp/css/styles.css' %}">
    </head>
    <body>
        <h1 class="description text-center">Click on a card to learn what each term means.</h1>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Equity</h5>
                <p class="card-text">Also known as stocks, a measure of ownership of a company's assets</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Debt</h5>
                <p class="card-text">Also known as bonds, a loan given to a company that must be paid back at some point</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Mutual Fund</h5>
                <p class="card-text">An active, or managed, investment to purchase stocks from a fund manager</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Index</h5>
                <p class="card-text">A measure of how a group of stocks are doing</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Index Fund</h5>
                <p class="card-text">A passive investment to purchase stocks that follow a certain index</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">ETF</h5>
                <p class="card-text">Also known as an exchange-traded fund, an investment similar to mutual funds, except that stocks can be traded throughout the day, instead of at the end of the day</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Futures Contract</h5>
                <p class="card-text">An agreement to buy or sell an asset at a specified price and future date</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Trader</h5>
                <p class="card-text">A person requesting to buy or sell assets</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Market Exchange</h5>
                <p class="card-text">A system where goods and services are exchanged</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Broker</h5>
                <p class="card-text">A person that handles transactions between the trader and the exchange</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Market Order</h5>
                <p class="card-text">A trade that's executed immediately after a deal is made</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Limit Order</h5>
                <p class="card-text">A trade that's executed at a certain price or better</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Stop-Loss Order</h5>
                <p class="card-text">A trade that becomes a market order once a certain price is reached</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Stop-Limit Order</h5>
                <p class="card-text">A trade that becomes a limit order once a certain price is reached</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Volume</h5>
                <p class="card-text">A measure of how much a stock has been traded after a certain period of time</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Share Price</h5>
                <p class="card-text">The value of one stock</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Market Cap</h5>
                <p class="card-text">The value of a company's shares (share price * # of shares)</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">EPS</h5>
                <p class="card-text">Also known as earnings per share, the amount a company earns per outstanding share</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">P/E Ratio</h5>
                <p class="card-text">Also known as the price-earning ratio, the ratio of a company's earning to the share price (share price / EPS)</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Portfolio</h5>
                <p class="card-text">A collection of investments held by a trader</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">ROI</h5>
                <p class="card-text">Also known as return on investment, the amount of profit made on an investment</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Risk</h5>
                <p class="card-text">The probability of incurring a loss from an investment</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Volatility</h5>
                <p class="card-text">A measure of fluctuations in the stock price</p>
            </div>
        </div>
        <div class="flashcard card">
            <div class="card-body">
                <h5 class="card-title">Liquidity</h5>
                <p class="card-text">A measure of cash a company has</p>
            </div>
        </div>
        <script src="{% static 'stockapp/js/app.js' %}"></script>
    </body>
</html>
