<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Allow the title to be overriden based on the current page -->
        <title>{% block title %}How to Stocks{% endblock %}</title>
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'stockapp/css/styles.css' %}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/stockapp">How to Stock</a>
                <!-- Hamburger icon to expand and collapse the navbar -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="link-home nav-link active" aria-current="page" href="/stockapp">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-screener nav-link" href="screener">Screener</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-flashcards nav-link" href="flashcards">Flashcards</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-portfolio nav-link" href="portfolio">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            <!-- Main content to be overriden with each page -->
            {% block content %}
            <h1>Welcome!</h1>
            <h2>Please select an option from the top.</h2>
            <li>
                <ul>
                    <strong>Home</strong> - this page!
                </ul>
                <ul>
                    <strong>Screener</strong> - select different stocks by filters
                </ul>
                <ul>
                    <strong>Flashcards</strong> - learn more about various financial terms
                </ul>
                <ul>
                    <strong>Portfolio</strong> - view details about your investments
                </ul>
            </li>
            {% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="{% static 'stockapp/js/app.js' %}"></script>
    </body>
</html>
