{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Allow the title to be overriden based on the current page -->
        <title>{% block title %}How to Stocks{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'stockapp/icon/favicon.ico' %}">
        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'stockapp/css/home.css' %}">
        <!-- Page-specific CSS -->
        {% block css %}{% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'stockapp:index' %}">How to Stock</a>
                <!-- Hamburger icon to expand and collapse the navbar -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="link-home nav-link active" aria-current="page" href="{% url 'stockapp:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-screener nav-link" href="{% url 'stockapp:screener' %}">Screener</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-flashcards nav-link" href="{% url 'stockapp:flashcards' %}">Flashcards</a>
                        </li>
                        <li class="nav-item">
                            <a class="link-portfolio nav-link" href="{% url 'stockapp:portfolio' %}">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="main-content">
            <!-- Main content to be overriden with each page -->
            {% block content %}
            <h1 class="home-title">Welcome!</h1>
            <h3 class="home-subtitle mb-4">Please select an option from the top.</h3>
            <ul class="home-nav-list list-group list-group-flush mx-3">
                <li class="list-group-item">
                    <strong>Home</strong> - this page!
                </li>
                <li class="list-group-item">
                    <strong>Screener</strong> - select different stocks by filters
                </li>
                <li class="list-group-item">
                    <strong>Flashcards</strong> - learn more about various financial terms
                </li>
                <li class="list-group-item">
                    <strong>Portfolio</strong> - view details about your investments
                </li>
            </ul>
            {% endblock %}
        </main>
        <footer class="credit bg-dark">
            <a href="https://financialmodelingprep.com/developer/docs/">Data provided by Financial Modeling Prep</a>
        </footer>
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="{% static 'stockapp/js/home.js' %}"></script>
        <!-- Page-specific JS -->
        {% block js %}{% endblock %}
    </body>
</html>
