{% extends "stockapp/index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Portfolio{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/portfolio.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'stockapp/js/portfolio.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Balance</h1>
<!-- Show 25b2 for up arrow and 25bc for down arrow -->
<h2 class="balance text-success" aria-label="{{ balance|money }} changed by 100%">${{ balance|money_commas }} &#x25b2; 100%</h2>
<hr>
<h1>Stocks</h1>
{% if not stocks %}
<p class="text-muted">Nothing yet...start investing!</p>
{% else %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Company Name</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Price Change</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr class="table-row" role="link" tabindex="0">
                <td class="stock-ticker">{{ stock.ticker }}</td>
                <td class="stock-name">{{ stock.name }}</td>
                <td class="stock-shares">{{ stock.shares }}</td>
                <td class="stock-price">${{ stock.price }}</td>
                <td class="stock-change">{{ stock.change }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
