{% extends "stockapp/index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Portfolio{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/portfolio.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'stockapp/js/portfolio.js' %}"></script>
{% endblock %}

{% block content %}
<div class="roi-alert alert alert-info alert-dismissible fade show" role="alert">
    <p class="portfolio-info">
        This is your stock
        <a tabindex="0" href="javascript:" class="portfolio help" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-container="body" data-bs-placement="bottom" title="{{ terms.portfolio.word }}"
            data-bs-content="{{ terms.portfolio.definition }}"> portfolio</a>
        . Your balance is the amount of cash you have at hand and your net worth is equal to your current balance + the
        value of each stock (# of shares * share price). Your goal is to gain a net positive
        <a tabindex="0" href="javascript:" class="roi help" data-bs-toggle="popover" data-bs-trigger="focus"
            data-bs-container="body" data-bs-placement="bottom" title="{{ terms.roi.word }}"
            data-bs-content="{{ terms.roi.definition }}"> ROI
        </a>
        by investing wisely in the right stocks.
    </p>
    <p class="portfolio-status"></p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="money-container mx-3">
    <div class="balance-container">
        <h1>Balance</h1>
        <h2 class="balance">${{ balance|money_commas }}</h2>
    </div>
    <div class="net-worth-container">
        <h1>Net Worth</h1>
        <!-- Show a spinner while the net worth is being calculated -->
        <div class="net-worth-spinner spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <h2 class="net-worth"></h2>
    </div>
</div>
<hr>
<h1>Stocks</h1>
{% if not portfolios %}
<p class="text-muted">Nothing yet...start investing!</p>
{% else %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Company Name</th>
                <th>Shares</th>
                <th>
                    <a tabindex="0" href="javascript:" class="share-price help" data-bs-toggle="popover"
                        data-bs-trigger="focus" data-bs-container="body" data-bs-placement="top"
                        title="{{ terms.sharePrice.word }}" data-bs-content="{{ terms.sharePrice.definition }}">Share
                        Price</a>
                </th>
                <th>Price Change</th>
            </tr>
        </thead>
        <tbody>
            {% for portfolio in portfolios %}
            <tr class="table-row" role="link" tabindex="0">
                <td class="stock-ticker">{{ portfolio.stock__ticker }}</td>
                <td class="stock-name">{{ portfolio.stock__name }}</td>
                <td class="stock-shares">{{ portfolio.shares }}</td>
                <td class="stock-price">
                    <div class="price-spinner spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
                <td class="stock-change">
                    <div class="change-spinner spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
