{% extends "stockapp/index.html" %}

{% block title %}Screener{% endblock %}

{% block content %}
<!-- Screener Form -->
<form class="stock-form bg-info rounded p-3 m-3" action="{% url 'stockapp:screener' %}" method="post">
    <!-- csrf_token is required for POST requests to prevent Cross-Site Request Forgery -->
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container">
        <h3 class="mb-3">Filter Stock Options</h3>
        <div class="row mb-3">
            {{ form.region.errors }}
            <label for="{{ form.region.id_for_label }}" class="col-auto form-label m-auto">Region:</label>
            {{ form.region }}
        </div>
        <div class="row mb-3">
            {{ form.price_value.errors }}
            <label for="{{ form.price_value.id_for_label }}" class="col-auto form-label m-auto">Price:</label>
            {{ form.price_relation }}
            {{ form.price_value }}
        </div>
        <div class="row mb-3">
            {{ form.sector.errors }}
            <label for="{{ form.sector.id_for_label }}" class="col-auto form-label m-auto">Sector:</label>
            {{ form.sector }}
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </div>
</form>
<!-- Results -->
<div class="results">Results will show up here...</div>
{% endblock %}
