{% extends "stockapp/index.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Screener{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'stockapp/css/screener.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'stockapp/js/screener.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Screener Form -->
<form class="stock-form bg-info rounded p-3 m-3" action="{% url 'stockapp:screener' %}" method="post">
    <!-- csrf_token is required for POST requests to prevent Cross-Site Request Forgery -->
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container">
        <h3 class="mb-3">Filter Stock Options</h3>
        <div class="row mb-3">
            {{ form.country.errors }}
            <label for="{{ form.country.id_for_label }}" class="col-auto form-label m-auto">Country:</label>
            {{ form.country }}
        </div>
        <div class="row mb-3">
            {{ form.price_value.errors }}
            <label for="{{ form.price_value.id_for_label }}" class="col-auto form-label m-auto">Price:</label>
            {{ form.price_relation }}
            {{ form.price_value }}
        </div>
        <div class="row mb-3">
            {{ form.sector.errors }}
            <label for="{{ form.sector.id_for_label }}" class="col-auto form-label m-auto">Sector:</label>
            {{ form.sector }}
        </div>
        <div class="row mb-3">
            {{ form.industry.errors }}
            <label for="{{ form.industry.id_for_label }}" class="col-auto form-label m-auto">Industry:</label>
            {{ form.industry }}
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </div>
</form>
<!-- Results -->
<div class="results table-responsive">
    {% if results %}
    <table class="results-table table table-striped table-hover table-bordered mx-3">
        <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Company Name</th>
                <th>Market Cap</th>
                <th>Sector</th>
                <th>Beta</th>
                <th>Price</th>
                <th>Last Annual Dividend</th>
                <th>Volume</th>
                <th>Exchange</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                <td>{{ result.symbol }}</td>
                <td>{{ result.companyName }}</td>
                <td>${{ result.marketCap|commas }}</td>
                <td>{{ result.sector }}</td>
                <td>{{ result.beta }}</td>
                <td>${{ result.price|money }}</td>
                <td>{{ result.lastAnnualDividend }}%</td>
                <td>{{ result.volume|commas }}</td>
                <td>{{ result.exchangeShortName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Results will show up here...</p>
    {% endif %}
</div>
{% endblock %}
