# Basic dependabot.yml file with
# minimum configuration for three package managers

version: 2
updates:
  # Enable version updates for uv
  - package-ecosystem: "uv"
    # Look for a `pyproject.toml` file in the `root` directory
    directory: "/"
    # Check PyPI for updates once a week
    schedule:
      interval: "weekly"
    groups:
      psycopg:
        patterns:
          - "psycopg*"

  # Enable version updates for Docker
  - package-ecosystem: "docker"
    # Look for a `Dockerfile` in the `root` directory
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
