# Docker Compose for dev builds only
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    # Initialize the SQLite database, load the flashcards data, and start the server
    command: >
      sh -c "uv run manage.py migrate &&
             uv run manage.py loaddata cards.json &&
             uv run manage.py runserver 0.0.0.0:8000"
    env_file:
      - ./stockhelper/.env
    ports:
      - 8000:8000
