asgiref==3.7.2
autopep8==2.0.2
backports.zoneinfo==0.2.1; python_version < "3.9"
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.2.0
dj-database-url==2.0.0
Django==4.2.3
gunicorn==21.2.0
idna==3.4
psycopg==3.1.9
psycopg-binary==3.1.9
pycodestyle==2.10.0
python-dotenv==1.0.0
pytz==2023.3
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.7.1
urllib3==2.0.3
whitenoise==6.5.0
