asgiref==3.7.2
autopep8==2.0.4
backports.zoneinfo==0.2.1; python_version < "3.9"
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.1
dj-database-url==2.1.0
Django==4.2.6
gunicorn==21.2.0
idna==3.4
psycopg==3.1.12
psycopg-binary==3.1.12
pycodestyle==2.11.1
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.8.0
urllib3==2.0.7
whitenoise==6.6.0
