/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media screen and (min-width: 750px) {
    .main-info-container,
    .price-container,
    .left-container,
    .right-container {
        /* Place the content side-by-side for wide screens */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.main-info-container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.left-container,
.right-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.company-container,
.logistics-container {
    margin: auto; /* center the top containers */
}

.logo {
    max-width: 350px; /* ensure the image doesn't go beyond the company-container */
    background-color: #eee; /* make all-white logos visible */
}

.price-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; /* center horizontally */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* center vertically */
}

.short-chart-container,
.long-chart-container {
    position: relative;
    width: 45vw; /* show the graphs side-by-side on wide screens */
    margin: 0 auto; /* center the graphs */
}

@media screen and (max-width: 749px) {
    .short-chart-container,
    .long-chart-container {
        width: 90vw;
    }
}

/* Select all except the last child */
.short-stats-container > *:not(:last-child),
.long-stats-container > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.invest-alert a {
    color: #00e; /* improve the contrast of popovers on the alert background */
}

.stock-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #select-transaction,
    #input-shares {
        width: 80%;
        margin: auto;
    }
}

.toast-container {
    z-index: 5;
}
