@media screen and (min-width: 750px) {
    .main-info-container,
    .price-container,
    .left-container,
    .right-container {
        /* Place the content side-by-side for wide screens */
        display: flex;
    }
}

.main-info-container {
    justify-content: space-around;
}

.left-container,
.right-container {
    flex-direction: column;
    justify-content: space-between;
}

.company-container,
.logistics-container {
    margin: auto; /* center the top containers */
}

.price-container {
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

.short-chart-container,
.long-chart-container {
    position: relative;
    width: 45vw; /* show the graphs side-by-side on wide screens */
    margin: 0 auto; /* center the graphs */
}

@media screen and (max-width: 749px) {
    .short-chart-container,
    .long-chart-container {
        width: 90vw;
    }
}

/* Select all except the last child */
.short-stats-container > *:not(:last-child),
.long-stats-container > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.short-predict,
.long-predict {
    /* Appear hoverable like with the <abbr> tag */
    text-decoration: underline dotted;
    cursor: help;
}

.stock-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #select-transaction,
    #input-shares {
        width: 80%;
        margin: auto;
    }
}

.toast-container {
    z-index: 5;
}
