.roi-alert a {
    color: #00e; /* improve the contrast of popovers on the alert background */
}

.money-container {
    display: flex;
    justify-content: space-around;
}

.table-row {
    cursor: pointer; /* have each table row appear clickable */
}
