/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.roi-alert a {
    color: #00e; /* improve the contrast of popovers on the alert background */
}

.money-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.table-row {
    cursor: pointer; /* have each table row appear clickable */
}
