.portfolio,
.roi {
    color: #00e; /* improve the contrast on the alert backgrounds */
}

.money-container {
    display: flex;
    justify-content: space-around;
}

.table-row {
    cursor: pointer; /* have each table row appear clickable */
}
