name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Build the Docker image
        env:
          FMP_API_KEY: ${{ secrets.FMP_API_KEY }}
        run: |
          chmod u+x start-docker.sh
          ./start-docker.sh $FMP_API_KEY
      - name: Run tests inside the container
        run: docker exec "${PWD##*/}-web-1" sh -c "python -Wa manage.py test -v 2"
